## <ins> `ANALYSE DES DONNEES AVEC DUCK DB` </INS>

In [1]:
import duckdb
import pandas as pd
duckdb.install_extension('parquet')
import os

In [2]:
# Connexion à DuckDB
conn = duckdb.connect()

# Requete et affichage de notre premiere Playlist au foramt df
playlist_df = conn.execute("SELECT UNNEST(playlists , recursive := true ) FROM read_json_auto('/mnt/h/spotify_million_playlist_dataset/data/mpd.slice.0-999.json', maximum_object_size=40000000)").df()

playlist_df.head()

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,None
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,None
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,None
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,None
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,None

In [7]:
# Requete afin de créer une table Palylists
conn.execute("CREATE TABLE playlists AS SELECT UNNEST(playlists , recursive:= true) FROM read_json_auto('/mnt/c/Users/antoi/Downloads/spotify_million_playlist_dataset/data/mpd.slice*.json', maximum_object_size = 40000000)")

In [8]:
table_playlist= conn.execute("SELECT * FROM playlists LIMIT(5)").df()

table_playlist.head()

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,None
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,None
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,None
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,None
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,None

 `Nous créons une copie de notre table et le plaçons au sein du dossier 'data/duckdb_data'. Notons que nous passons d'un fichier de plus de 30 Gb à un fichier de 5Gb, ceci grâce à Parquet`

### <ins>Première requête sur notre base de données</ins>

In [3]:
# Variable liée à notre fichier BDD
filepath = os.path.join('/home/antoine/spotify/data/duckdb_data/', 'playlists.parquet')

playlists = conn.execute("SELECT * FROM read_parquet('/home/antoine/spotify/data/duckdb_data/playlists.parquet') LIMIT 100").fetch_df()

In [6]:
test = conn.execute("SELECT * FROM playlists LIMIT(5)").df()

test.head()

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,None
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,None
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,None
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,None
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,None